body {
	font-family: Helvetica, sans-serif;
	padding: 10px;
	
}

h1 {
	text-align: center;
	color: #ffffff;
	font-size: 38px;
}

h3 {
	margin-left: 25px;
}

img{
	height: 30px;
}

input {
	width: 14%;
	padding: 5px;
	margin: 5px;
	margin-left: 10px;
	margin-bottom: 20px;
	font-size: 18px;
}

#deleteButton {
	border: none;
	background-color: #ffffff;
	border-radius: 5px;;
	color: black;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
}

#deleteButton:hover{
	opacity: 30%;
	transform: scale(1.1);
	transition: 0.1s ease;
}

#submitButton {
	background-color: #4402cf;
	border: none;
	color: white;
	padding: 10px 18px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 2px 2px;
	cursor: pointer;
}

table {
	font-size: 18px;
	border-collapse: collapse;
	table-layout: fixed;
	width: 95vw;
	word-wrap: break-word;
	margin-left: auto;
	margin-right: auto;
}

th {
	background-color: #4402cf;
	font-weight:400;
	color: #ffffff;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
	padding: 15px;
}
  
td {
	border-bottom: 1px solid black;
	border-top: 0;
	text-align: center;
	padding: 15px;
}

#totalMonthly {
	text-align: center;
	font-size: 18px;
}

#header{
	background: rgb(17,14,71);
	background: linear-gradient(90deg, rgba(17,14,71,1) 0%, rgba(68,2,207,1) 33%);
	padding: 2%;
	width: 100%;
	height: 100%;
	margin-left: -20px;
}
