body {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	text-align: center;
}

input {
	padding: 5px;
	margin: 5px;;
}

button {
	padding: 5px;
	margin: 5px;
	height: 2em;
	width: 4.5em;
	border: 1px solid;
	border-radius: 3px;
}

table {
	border-collapse: collapse;
	table-layout: fixed;
	width: 90vw;
	word-wrap: break-word;
}

th {
	background-color:blue;
	color: #ffffff;
	border: 1px solid gray;
	text-align: left;
	padding: 15px;
}
  
td {
	border: 1px solid gray;
	text-align: left;
	padding: 15px;
}

ul {
	list-style-type: none;
	text-align: left;
	word-spacing: 50px;
  }

li{
	display: inline;
  }

#totalMonthly {
	text-align: center;
}