body {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	text-align: center;
}

input {
	padding: 5px;
	margin: 5px;;
}

button {
	padding: 5px;
	margin: 5px;
	height: 2em;
	width: 4.5em;
	border: 1px solid;
	border-radius: 3px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th {
	background-color:blue;
	color: #ffffff;
	border: 1px solid gray;
	text-align: center;
	padding: 15px;
}
  
td {
	border: 1px solid gray;
	text-align: center;
	padding: 15px;
}
  
tr:nth-child(even) {
	background-color: #ffffff;
}

#totalMonthly {
	text-align: center;
}